<% layout('layouts/boilerplate') -%>
<%- include ../partials/navbar.ejs %>

<h2>View All Posts</h2>


<% posts.forEach(function(post) { %>
	<div>
		<h3>Title: <%= post.title %></h3>
		<div>Price: <%= post.price %></div>
		<div>Description: <%= post.description %></div>
		<div>Location: <%= post.location %></div>
		<div><a href="/posts/<%= post.id %>">View more</a></div>
	</div>
<% }); %>

<div>
	<button onClick="window.history.back()">BACK</button>
</div>