<% layout('layouts/post-show-layout') -%>
<h2>Show Post</h2>

	<div><%= post.title %></div>
	<div>IMAGES<br />
		<% post.images.forEach(function(image) { %>
			<img src="<% image.url %>" alt="Surf board image" width="200px">
		<% }); %>
	</div>
	<div>Price: <%= post.price %></div>
	<div><%= post.description %></div>
	<div><%= post.location %></div>
	

	<div id="map" style="width: 400px; height: 300px; background: #cde;"></div>

	<div>

		<button onClick="location.href='/posts';">BACK</button>

		<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
			<input type="submit" value="DELETE"/>
		</form>
	</div>

	<div>
		<h2>Reviews</h2>
		<!-- Create a Review -->
		<h3>Create a Review</h3>
		<form action="/posts/<%= post.id %>/reviews" method="POST">
			<textarea name="review[body]" rows="30" cols="30S"></textarea>
			<input type="number" name="review[rating]" min="1" max="5" step="1" required="required">

			<input type="submit" name="submit_btn">
		</form>
		<!-- display all review -->
		<% post.reviews.forEach(function(review) { %>
			<div>
				<% review.author.username %><br/>
				<%= review.body %><br/>
				Rating: <%= review.rating %>
			</div>
			<div>
				<button class="toggle-edit-form">Edit</button>
				
				<form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
					<textarea name="review[body]" rows="30" cols="30S"><%= review.body %></textarea>
					<input type="number" name="review[rating]" min="1" max="5" step="1" value="<%= review.rating %>" required="required">

					<input type="submit" value="update">
				</form>
			</div>

		<% }); %>
		<hr>
	</div>

	<script>
		$('.toggle-edit-form').on('click', function() {
			// toggle the edti button text on click
			$(this).text() === 'Edit' ? $(this).text('Cancel') : $(this).text('Edit');
			// toggle visibility of the edit review form
			$(this).siblings('.edit-review-form').toggle();
		});
	</script>